.element__heart {
    width: 22px;
    height: 19px;
    grid-area: element__heart;
    margin-right: 20px;
    justify-self: flex-end;
    align-self: center;
    cursor: pointer;
    border: none;
    background-image: url(../../../images/Heart.svg);
    z-index: 1;
    background-color: transparent;
    padding: 0;
    outline-style: none;
}
.element__heart:hover {
    opacity: 0.5;
    transition: 1s ease-in;
}
